
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
   cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  top: 100%;
  left: 0;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none; /* Initially hide dropdown */
}

.dropdown:hover .dropdown-content {
  display: block; 

}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}
