

.patient-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.patient-profile-form {
  margin-top: 20px;
}


@media screen and (max-width: 600px) {
  .patient-profile-container {
    padding: 10px;
  }

}
